:root {
  --violet: #c3b3e6;
  --chartreuse: #D4EBBC;
  --button: #7f5dca;
  --grey: #d0d0d0;
  --radius: 4px;
  --indent: 7%;
  --padding: 1%;
  --margin: 1%;
}


/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for body */
body {
  font-family: Roboto, sans-serif;
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--violet);
}

#homepage-body {
  display: flex;
  flex-direction: column;
}

/* Header styling */
h1 {
  height: 5%;
  align-content: center;
  font-size: 24px;
  text-align: center;
}

#containers{
  width: 98%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#messages-container, #sticky-container {
  width: 49.5%;
  height: 100%;
  background-color: white;
  border-radius: var(--radius);
  overflow-y: scroll;
  overflow-x: hidden;
}

#sticky-container {
  position: relative;
}

#chat-form {
  height: 5%;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-input {
  width: 90%;
  border-width: 0px;
  border-radius: var(--radius);
  padding: var(--padding);
}

#send-btn {
  width: 9%;
  border-width: 0px;
  border-radius: var(--radius);
}

.highlight {
  background-color: #def440 !important;
  border-radius: var(--radius);
  padding: var(--padding);
}

.sticky {
  position: absolute;
  top: 0px;
  left: 25%;
  width: 300px;
  display: flex;
  flex-direction: column;
  user-select: none;
  draggable: true;
  transform-origin: center;
}

.stickyHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: var(--violet);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  user-select: none;
}

.stickyHeader.minimized {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.close {
  margin-left: 15px;
  background-color: var(--violet);
  border-radius: var(--radius);
}

.context {
  background-color: var(--violet);
  border-radius: var(--radius);
}

.minimize {
  margin-right: 15px;
  background-color: var(--violet);
  border-radius: var(--radius);
}

.message {
  padding: var(--padding);
  margin: var(--padding);
}

#messages-container .message {
  background-color: var(--violet);
  border-radius: var(--radius);
}

#sticky-container .message {
  visibility: hidden;
}

.stickyBody {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: var(--grey);
  border-radius: var(--radius);
  height: 270px;
  overflow: auto;
  overflow-x: hidden;
  user-select: none;
}

.stickyBody.minimized {
  display: none;
  height: 0;
}

ul, ol {
  padding-inline-start: var(--indent);
}

.message p{
  margin: var(--margin);
}

.menu {
  margin: auto;
  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--chartreuse);
  width: fit-content; 
  display: flex;
  flex-direction: row;
}